<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  pretende ayudar a las y los investigadores a realizar su trabajo
  en menos tiempo y con menos esfuerzo
  enseñándoles técnicas informáticas básicas para la investigación.
  Este taller práctico cubrirá conceptos y herramientas básicas,
  incluyendo control de versiones, gestión de datos,
  y automatización de tareas.
  Se animará a los participantes a ayudarse
  y a aplicar lo aprendido a sus propios problemas de investigación.
</p>
<p align="center">
  <em>
    Para más información sobre lo que enseñamos y por qué, 
    pueden ver nuestro trabajo (en inglés)
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
