{% comment %}
Git Setup instructions rely on Shell instructions. If you don't include
Shell instructions as part of your workshop website, make sure to adjust
the text below accordingly.
{% endcomment %}
<div id="git">
  <h3>Git</h3>
  <p>
    Git es un sistema de control de versiones que te permite rastrear 
    quién hizo cambios y tiene opciones para actualizar fácilmente una 
    versión compartida o pública de tu código
    en <a href="https://github.com/">github.com</a>. Necesitarás un
    <a href="https://help.github.com/articles/supported-browsers/">navegador compatible</a>.
  </p>
  <p>
    Deberás contar con una cuenta en <a href="https://github.com/">github.com</a>
    para la segunda parte de este workshop. Las cuentas básicas de GitHub son gratuitas. 
    Si aún no posees una cuenta en GitHub, por favor crea una.
    Por favor, considere qué información personal le gustaría revelar. 
    Por ejemplo, le podría interesar conocer cómo
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">mantener las direcciones de correo proporcionadas a GitHub privadas</a>.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#git-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#git-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#git-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="git-windows">
        <p>
          Git debería estar instalado en tu ordenador como parte de la instalación de Bash
          (ver las
          <a href="#shell">instrucciones de instalación de Shell</a>).
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-macos">
        <p>
          <strong>Para macOS</strong>, instalar Git para Mac
          descargando y ejecutando la versión más reciente del instalador "mavericks" desde
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">esta lista</a>.
          Como este instalador no está firmado por el desarrollador, es posible que tenga que hacer clic 
          con el botón derecho del ratón (control-clic) en el archivo .pkg, hacer clic en "Open", y 
          hacer clic en "Open" en la ventana emergente.
          Luego de instalar Git, no habrá nada en tu carpeta <code>/Applications</code>,
          dado que Git es un programa de línea de comandos.
          <strong>Para versiones anteriores de OS X (10.5-10.8)</strong> deben emplear
          el instalador más reciente denominado "snow-leopard"
          <a href="http://sourceforge.net/projects/git-osx-installer/files/">disponible aquí</a>.
        </p>
        <h4>Video tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
          <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="git-linux">
        <p>
          Si Git no está ya disponible en tu máquina puedes intentar 
          instalarlo a través del gestor de paquetes distro.
          Si Git no está disponible en su máquina pueden intentar
          instalarlo mediante su gestor de paquetes <em>distro</em>. Para Debian/Ubuntu correr
          <code>sudo apt-get install git</code> y para Fedora correr
          <code>sudo dnf install git</code>.
        </p>
      </article>
    </div>
  </div>
</div>
