<div id="r">
  <h3>R</h3>

  <p>
    <a href="https://www.r-project.org">R</a> es un lenguaje de programación 
    muy potente para la exploración de datos, visualización y análisis 
    estadísticos. Para interactuar con R, utilizamos
    <a href="https://www.rstudio.com/">RStudio</a>.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#rstats-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#rstats-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#rstats-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rstats-windows">
        <p>
          Instalar R descargando y ejecutando
          <a href="https://cran.r-project.org/bin/windows/base/release.htm">este archivo .exe</a>
          desde <a href="https://cran.r-project.org/index.html">CRAN</a>.
          También deben instalar el entorno de desarrollo integrado (IDE)
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio</a>.
          Tenga en cuenta que si tiene cuentas de usuario y administrador separadas, 
          debe ejecutar los instaladores como administrador (haga clic con el botón derecho 
          en el archivo .exe y seleccione "Ejecutar como administrador" en lugar de hacer doble clic). 
          De lo contrario, pueden surgir problemas más adelante, por ejemplo, al instalar paquetes R.
        </p>
        <h4>Video tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/q0PjTAylwoU?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-macos">
        <p>
           Instalar R descargando y ejecutando
          <a href="https://cran.r-project.org/bin/macosx/R-latest.pkg">este archivo .pkg</a>
          desde <a href="https://cran.r-project.org/index.html">CRAN</a>.
          También deben instalar el entorno de desarrollo integrado (IDE)
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio</a>.
        </p>
        <h4>Video tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
                <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/5-ly3kyxwEg?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-linux">
        <p>
          Las instrucciones para la instalación de R en diversas plataformas Linux (debian,
          fedora, redhat y ubuntu) se pueden encontrar en
          <https://cran.r-project.org/bin/linux/>. Las instrucciones les enseñaran cómo
          utilizar su gestor de paquetes (e.g. para Fedora deben correr
          <code>sudo dnf install R</code> y para Debian/Ubuntu, deben agregar un repositorio ppa
          y luego correr el código <code>sudo apt-get install r-base</code>).
          También deben instalar el entorno de desarrollo integrado (IDE)
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio</a>.
        </p>
      </article>
    </div>
  </div>
</div>
